.signup {
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $dark-blue;
        margin-bottom: 62px;
        display: none;
        @include media-breakpoint-down(lg) {
            display: block;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }
    &__form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__formgroup {
        width: 100%;
        margin-bottom: 40px;
    }
}
